<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    /> -->
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <footer class="font-semibold absolute left-0 bottom-0 right-0 text-center pb-8">
    App by <a class="text-purple-500 hover:text-purple-700 cursor-pointer" href="https://github.com/ubemacapuno">Corey Damocles</a>
   </footer>
</html>