<footer class="font-semibold mt-auto py-8 text-center">
  © 2022 <a class="text-purple-500 hover:text-purple-700 cursor-pointer" href="https://github.com/ubemacapuno">Corey Damocles</a>
</footer>
<script src="js/main.js"></script>
</body>
</html>