<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FoodieBlog</title>
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>
    <body class="min-h-full flex flex-col">
        <nav class="relative container mx-auto">
            <div class="flex flex-col items-center justify-between">
                <div class="px-4">
                    <img src="/images/logo.jpg" alt="" />
                </div>
            </div>
        </nav>