<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/style.css">
        <title>FoodieBlog Login Menu</title>
        <!-- <link rel="stylesheet" href="css/style.css"> -->
    </head>
    <body>
        <nav class="relative container mx-auto">
            <div class="flex flex-col items-center justify-between">
                <!--Logo:-->
                <div class="px-4">
                    <img src="/images/logo.jpg" alt="" />
                </div>
                <div class="flex flex-col pt-10">
                    <a class="inline-block align-middle text-center h-10 leading-10 w-40 bg-orange-400 hover:bg-orange-700 text-white font-bold rounded-lg cursor-pointer m-10" href="/login">Login</a>
                    <a class="inline-block align-middle text-center h-10 leading-10 w-40 bg-purple-400 hover:bg-purple-700 text-white font-bold rounded-lg cursor-pointer m-10" href="/signup">Signup</a>
                </div>
            </div>
        </nav>
        <footer class="font-semibold absolute left-0 bottom-0 right-0 text-center pb-8">
            App by <a class="text-purple-500 hover:text-purple-700 cursor-pointer" href="https://github.com/ubemacapuno">Corey Damocles</a>
           </footer>
    </body>
</html>