<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>INGREDIENTS EJS</h1>

        <% dishes.forEach(el => { %>
            <!--Display the capas like normal EXCEPT for the capa that is being EDITED-->
        <% if (el._id==idDish) { %>
            <h3 class="edit-header">Add Ingredients for <%= el.dishName %></h3>
            <p>The current ingredients include: <%= el.dishIngredients %></p>
                    <!-- Add a form for editing: -->
                <form action="/ingredients/<%= dishes._id %>" method="POST">
                    <!--In the form, show the values of the item you are trying to edit:-->
                    <!--CAPA Number-->
                    <label><%= el.dishIngredients %></label>
                    <input type="text" name="dishIngredients">
                
                    <!--Confirm, cancel, edit dates buttons-->
                    <div class="edit-button-container">
                        <button type="submit">Add Ingredients</button>
                        <a href="/dishes" class="cancel">Go Back</a>
                    </div>
                </form>
        <% }})  %>
    </body>
</html>